---
---

/* added for reponsive web */  
/* 
// Small tablets and large smartphones (landscape view)
$screen-sm-min: 576px

// Small tablets (portrait view)
$screen-md-min: 768px

// Tablets and small desktops
$screen-lg-min: 992px

// Large tablets and desktops
$screen-xl-min: 1200px


// Small devices
@mixin sm 
   @media (min-width: #{$screen-sm-min}) 
       @content
   


// Medium devices
@mixin md 
   @media (min-width: #{$screen-md-min}) 
       @content
   


// Large devices
@mixin lg 
   @media (min-width: #{$screen-lg-min}) 
       @content
   


// Extra large devices
@mixin xl 
   @media (min-width: #{$screen-xl-min}) 
       @content
   
*/

/* added for responsiver web */
  
@function reduce ($percent)
  @return rgba(mix(#282828, #fff), $percent / 100)
  
  

$link-color: #68f

@import anchor

body > header, article, body > footer
  padding: 1.5em calc(10% - 5rem)

body > footer
  color: reduce(2)
  background: reduce(5)

article, body > footer
  border-top: 1px solid reduce(8)

article
  background: reduce(2)

{% if site.dark_header %}

body > header
  background: #282828
  color: #333

{% endif %}

{% if site.navigation and site.icons %}

body > header
  padding: 1em calc(10% - 5rem)

body > header h1
  margin-bottom: 1em

{% endif %}
